@import "../../_globalColor";

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  border-radius: 25px;
  overflow: hidden;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 25px;
  width: 0; /* initial width */
  background: linear-gradient(90deg, #ff4e50, #f9d423);
  transition: width 2s ease-in-out, background 2s ease-in-out;
  transition-delay: var(--delay, 0s);
}

.fill-animate {
  width: var(--target-width);
  transition: width 2s ease-in-out, background 2s ease-in-out;
}

/* optional: final color after fill */
.fill-animate.finished {
  background-color: $progressBarSpanBG;
}

.skill {
  line-height: 3.5vw;
  margin-bottom: 15px;
}

.skill-bars {
  font-size: 28px;
  width: 40%;
}

.skills-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.skills-container > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

/* Media Query */
@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}
